*.pyc
__pycache__/
README.html
output.txt
*.db
/checkmate/db.json

/.env
/TODO.txt
/staticfiles/
venv/
venv2/
venv3/
/extstatic/
/static/locations.*

# OS files
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
